# ======================================
# Python
# ======================================
*.py[cod]
*.so
__pycache__/
*.egg
*.egg-info/
dist/
build/

# ======================================
# Django
# ======================================
db.sqlite3
*.sqlite3
*.log
.env

# Ignore media uploads (user-generated)
media/

# Ignore collectstatic output (if using STATIC_ROOT)
staticfiles/

# ======================================
# Virtual environments
# ======================================
env/
venv/

# ======================================
# Editor & IDE settings
# ======================================

# PyCharm / JetBrains
.idea/

# VS Code
.vscode/

# ======================================
# OS files
# ======================================
.DS_Store
Thumbs.db
